@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

#large-header {
  padding-top: 15vh;
//  background-image: url("/data/images/Rooftops-scaled.jpg") !important;
  background-size: cover;
  padding-bottom: 45vh;
}

header h1, header h2 {
  text-align: center;
  color: $my-blue;
}

footer {
  background: $my-beige;
}

footer p {
  margin-top: 20px;
  text-align: center;
}

#main-header {
  font-size: 8vh;
}

#header-title {
  font-size: 6vh;
}

#dimension {
  background: $my-brown;
}

.banner-background h2{
  text-align: center;
  color: $my-blue;
  margin-top: 50px;
}

.banner-background p{
  text-align: center;
  color: $my-green;
}

.banner-background{
  background-image: url("/data/images/banner-background.png") !important;
  background-size: cover;
  padding-left: 50px;
  padding-right: 50px;
}

.banner-background img{
  display: block !important;
  margin: 0 auto;
  max-height: 300px;
  max-width: 300px;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.background-blue {
  background: $my-blue;
}

.v-center-wrapper {
  height: 100%;
}

#plus-button {
  position: absolute;
  @include center-absolute;
  z-index: 10;
}

.horizontal-align {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#game-info {
  background: $my-blue;
}

.margin-top-small {
  margin-top: 20% !important;
}

#game-info h1, #game-info h4 {
  color: $my-green;
}

#game-info p {
  color: $my-brown;
}

#team-info {
  background: $my-brown;
}

[class^="fa-"], [class*=" fa-"] {
  display: inline-block;
  width: 100%;
}

.team-icon {
  padding-top: 20px;
  text-align: center;
  color: $my-orange;
}

#team-info h1, #team-info p {
  text-align: center;
}

#team-info h1 {
  color: $my-blue;
}

#team-info p {
  color: $my-green;
}

#contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

#contact h1, #contact i {
  color: $my-blue;
}

#contact h1 {
  text-align: center;
  margin-bottom: 40px;
}

.contact-icon-right {
  text-align: right;
}

.contact-icon-left {
  text-align: left;
}

#contact-background {
  position: fixed;
  background-image: url("/data/images/contact-background.png") !important;
  background-size: cover;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
}

.minHeightC {
  min-height: 40vh;
}